# Backend
NODE_ENV=development
APP_HOST=http://localhost:5000
PORT=5000

# Database
DATABASE_URL=mysql://root:password@127.0.0.1:3309/full_stack_dev

# Auth
AUTH_SECRET=your_jwt_access_token_secret
AUTH_SECRET_EXPIRES_IN=45m
AUTH_REFRESH_SECRET=your_jwt_refresh_token_secret
AUTH_REFRESH_SECRET_EXPIRES_IN=24h

# Jobs
SCHEDULE_CRON_RUN_ON_STARTUP=true
