main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

h1 {
    width: 100%;
    text-align: center;
}

.main-container {
    width: 100%;
    height: 90vw;
    max-height: 520px;
    display: flex;
    flex-direction: row;
}

.global-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em 0 0 1em;
    padding: 1.5em;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;        /* 👈 hauteur = contenu */
    grid-auto-flow: row;  
    gap: .5em;
}

label[for="email"], label[for="password"], label[for="password_confirmation"] {
    grid-column: -1 / 1;
}

.side-container {
    flex: 1;
}

@media (max-width: 768px) {
    .side-container {
        display: none;
    }

    .main-container {
        width: 100%;
        max-width: 520px;
        height: 90vw;
        max-height: 520px;
        display: flex;
        flex-direction: row;
    }

    .global-container {
        width: 100%;
        height: 100%;
        border-radius: 1em;
    }
}