.base-layout {
  position: relative;
}

.child {
  position: absolute;
}

.blob-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  
  > svg {
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
