nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    transform-origin: right;
    border-radius: 12px;
    z-index: 100;
}

nav a {
    display: flex;
    justify-content: end;
    gap: .2em;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: .5em;
    flex: 1;
}

nav a > span {
    flex: 1;
    opacity: 0;
    transform: translateX(10px);
    max-width: 0;
    overflow: hidden;
    text-align: center;
    transition: opacity .5s, transform .5s, max-width 1s;
}

nav a:hover > span {
    opacity: 1;
    min-width: 100px;
    transform: translateX(0);
    max-width: 50px;
    color: var(--color-white-primary);
}


nav a:hover > svg {
    animation: bounce .5s alternate infinite;
    fill: var(--color-green-primary);
}

nav .settings:hover > svg {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        rotate: 360deg
    }
}

@keyframes bounce {
    to {
        transform: translateY(-10%);
    }
}
